#logo {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
}

header {
    font-family: 'Rubik', sans-serif;
}

.navbar-css {
    background-color: #4700D8;
    padding: 0;
    opacity: 0.7;
}

.listItems > li > a {
  color: white;
  font-weight: bold;
}

.heading {
    color: white;
  font-weight: bold;
}

.listItems > li > a:hover{
    color: #F900BF;
    font-weight: bold;
  }

  .heading:hover {
    color: #F900BF;
    font-weight: bold;
}