body{
    background-color: #F7F7F7;
}

#logo {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
}

header {
    font-family: 'Rubik', sans-serif;
}

.navbar-css {
    background-color: #151D3B;
    padding: 0;
    opacity: 0.7;
}

.listItems > li > a {
  color: white;
  font-weight: bold;
}

.heading {
    color: white;
  font-weight: bold;
}

.listItems > li > a:hover{
    color: #6EBF8B;
    font-weight: bold;
  }

  .heading:hover {
    color: #6EBF8B;
    font-weight: bold;
}

.image-cover{
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    z-index: 10;
    
}
img{
  
    height: 200px;
    width: 200px;
    float: right;
  
}

.typewriter-heading{
  margin: 4em;
}

.typing-effect {
    width: 9ch;
    animation: typing 1s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
    color: #151D3B;
    font-weight: bold;

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .description{
      font-size: 1.4em ;
      color: #6fbd8a;
  }

  .card-style{
    margin: 20px 44px;
    position: fixed;
    
  }

  div {
    white-space: normal;
  }

  .profile{
    width: 100%;
  }

.latest-blog{
  margin: 20px;
}

.block{
  height: 200px;
  text-align: center;
}

.details{
  text-align: center;
  font-size: 20px;
  color: #D82148;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  }

.horizontal-line{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px;
  padding: 0;
}