body{
    background-color: #F7F7F7;
}

#logo {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
}

header {
    font-family: 'Rubik', sans-serif;
}

.navbar-css {
    background-color: #151D3B;
    padding: 0;
    opacity: 0.7;
}

.listItems > li > a {
  color: white;
  font-weight: bold;
}

.heading {
    color: white;
  font-weight: bold;
}

.listItems > li > a:hover{
    color: #6EBF8B;
    font-weight: bold;
  }

  .heading:hover {
    color: #6EBF8B;
    font-weight: bold;
}

.image-cover{
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F7F7;
    
}
img{
  
    height: 250px;
    width: 250px;
    float: right;
    margin-right: 100px;
  
}

